# Google OAuth Client ID for Client-side Google Sign-In SDK
VITE_GOOGLE_CLIENT_ID=215311247278-u7v15p006lu3h9rhoh7r4di4qpdhb3na.apps.googleusercontent.com
# GitHub OAuth Client ID for Redirect Flow
VITE_GITHUB_CLIENT_ID=Ov23liz8uHIFRtgdwDwE
