# Google OAuth Client ID for Client-side Google Sign-In SDK
VITE_GOOGLE_CLIENT_ID=901479860432-9ejc1a1d1r71r9r8gm6bnftvkgb866ge.apps.googleusercontent.com

# GitHub OAuth Client ID for Redirect Flow
VITE_GITHUB_CLIENT_ID=Ov23liz8uHIFRtgdwDwE
